.title{
    color: green;
    font-size: 250%;
    
}

.quest{

    color: green;
    font-size: 200%;
}

.basic{

    color: darkgreen;
    
    background-color: black;

    font-size: 150%;

}

.MAIN{

    color: darkgreen;
    font-size: 400%;
   
}
    
