body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.carousel {
    display: flex;
    align-items: center;
}

#carouselImage {
    max-width: 600px;
    max-height: 400px;
    margin: 0 20px;
}