*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 1, 1);
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;

    overflow-x: hidden;
}


.container{
    border: 2px solid rgb(0,255,255);
    display: inline-block;
    position: relative ;
    width: 800px;
    height: 900px;
    border-radius: 0px 20px 20px 0px;
    left: 600px;
    top: 110px;
    opacity: 0;

    
    animation-name: main;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes main{
    0%{

        opacity: 0;
    }

    100%{

        opacity: 1;
    }
}





.login-container{

    border: 2px solid rgb(0,255,255);
    display: inline-block;
    position: relative ;
    width: 700px;
    height: 500px;
    border-radius: 0px 20px 20px 0px;
    top: 300px;
    left: 40px;
}


.memomovie{
    display: inline-block;
    font-size: 55px;
    color: rgb(0,255,255);
    position: relative;
    left: 90px;
    opacity: 0;


    animation-name: memomovie;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;

}

@keyframes memomovie{
    0%{
        transform: translatey(0px);
        opacity: 0;
    }

    100%{
        transform: translatey(80px);
        opacity: 1;
    }
}


.santa{
    display: inline-block;
    color: rgb(0,255,255);
    position: relative;
    left: 90px;

    width: 50px;


    opacity: 0;


    animation-name: santa;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes santa{
    0%{
        transform: translatey(0px);
        opacity: 0;
    }

    100%{
        transform: translatey(190px);
        opacity: 1;
    }
}

.registe{
    display: inline-block;
    font-size: 35px;
    color: rgb(0,255,255);
    position: relative;
    left: 90px;



    opacity: 0;


    animation-name: registre;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}


@keyframes registre{
    0%{
        transform: translatey(0px);
        opacity: 0;
    }

    100%{
        transform: translatey(250px);
        opacity: 1;
    }
}


.name{
    background-color: black;
    width: 40%;
    height: 40px;
    padding: 12px 20px;
    margin-left: 70px;
    box-sizing: border-box;
    border: 3px solid rgb(0,255,255);
    border-radius: 20px;
    color:rgb(0,255,255) ;
    opacity: 0;


    animation-name: name;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


@keyframes name{
    0%{
        transform: translatey(0px);
        opacity: 0;
    }

    100%{
        transform: translatey(40px);
        opacity: 1;
    }


}

.email{
    background-color: black;
    width: 40%;
    height: 40px;
    padding: 12px 20px;
    margin-left: 160px;
    box-sizing: border-box;
    border: 3px solid rgb(0,255,255);
    border-radius: 20px;
    color:rgb(0,255,255) ;
    opacity: 0;



    animation-name: email;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}


@keyframes email{
    0%{
        transform: translatey(0px);
        opacity: 0;
    }

    100%{
        transform: translatey(80px);
        opacity: 1;
    }


}

.pas{

    background-color: black;
    width: 40%;
    height: 40px;
    padding: 12px 20px;
    margin-left: 250px;
    box-sizing: border-box;
    border: 3px solid rgb(0,255,255);
    border-radius: 20px;
    color:rgb(0,255,255) ;
    opacity: 0;




    animation-name: pas;
    animation-duration: 1s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}

@keyframes pas{
    0%{
        transform: translatey(0px);
        opacity: 0;
    }

    100%{
        transform: translatey(90px);
        opacity: 1;
    }


}

.nickname{


    background-color: black;
    width: 40%;
    height: 40px;
    padding: 12px 20px;
    margin-left: 330px;
    box-sizing: border-box;
    border: 3px solid rgb(0,255,255);
    border-radius: 20px;
    color:rgb(0,255,255) ;
    opacity: 0;
  




    animation-name: nick;
    animation-duration: 1s;
    animation-delay: 2.3s;
    animation-fill-mode: forwards;
}



@keyframes nick{
    0%{
        transform: translatey(0px);
        opacity: 0;
    }

    100%{
        transform: translatey(220px);
        opacity: 1;
    }


}

::placeholder{
    color:rgb(0,255,255) ;
}


.enjoy{
    display: inline-block;
    font-size: 55px;
    color: rgb(0,255,255);
    position: relative;
    left: 90px;
    top: 220px;
    opacity: 0;



    animation-name: enjoy;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes enjoy{
    0%{

        opacity: 0;
    }

    100%{

        opacity: 1;
    }


}


.smile{
    display: inline-block;
    position: relative;
    left: 150px;
    top: 230px;
    cursor: pointer;
    opacity: 0;




    animation-name: enjoy;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}