.main{
    color: chartreuse;
    background-color: black;
    font-size: 110px;
    text-align: center;
}


table{
    font-size: small;

}



.goa{
    color: darkgreen;
    background-color: black;
    font-size: 100px;
    text-decoration: underline;
}