*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution{
    background-color: whitesmoke;
    width: 1000px;
    height: 600px;

    display: grid;
}

.result{
    background-color: #5F3FFC;
    width: 500px;
    height: 600px;

    border-radius: 30px;
}

.presult{
    color: rgba(255, 255, 255, 0.644);
    font-size: 40px;
    padding-top: 40px;
    padding-left: 150px;
    
}

.divresult{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: #4927D2;
    margin-left: 130px;
    margin-top: 50px;

}

.nresult{
    font-size: 60px;
    color: white;
    padding-top: 60px;
    padding-left: 68px;
}


.nuresult{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 75px;
    color: rgba(255, 255, 255, 0.562);
}

.great{
    color: white;
    padding-left: 160px;
    padding-top: 50px;
    font-size: 70px;
}

.gr{
    font-size: 30px;
    padding: 30px;
    color: rgba(255, 255, 255, 0.562);
}

.summary{
    width: 500px;
    grid-column: 2;
    display: grid;

}

.sum{
    color: rgb(0, 0, 0);
    padding-left: 50px;
    padding-top: 20px;
    font-size: 50px;
}


.grid{
    background-color: black;
    width: 300px;
    height: 50px;
    margin-left: 89px;
}

.grid-item1{
    background-color: #ffd8d4;
}

.grid-item2{
    background-color: #fdffe1;
}

.grid-item3{
    background-color: #dfffc9;
}

.grid-item4{
    background-color: #c4ccff;
}

.stats{
    padding-left: 30px;
    padding-top: 5px;
}

.stats1{
    color: red;
}

.stats2{
    color: rgb(184, 184, 0);
}

.stats4{
    color: rgb(17, 0, 255);
}

.stats3{
    color: rgb(9, 255, 0);
}