.heading1 {
    color: darkgreen;

    background-color: black;

    font-size: 350%;
}

.heading2 {
    color: chartreuse;

    background-color: black;
}

.heading3 {
    color: darkgreen;

    background-color: black;

    font-size: 250%;
}

